---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
    indent-sequences: consistent
  key-duplicates: {}
  trailing-spaces: {}

ignore: |
  .git/
  .vagrant/
  .kitchen/
  collections/
  roles/
  node_modules/
